@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Nunito:ital@0;1&display=swap');


:root {
    --text: #fadbee;
    --background: #160a12;
    --primary: #eb7acc;
    --secondary: #6c345a;
    --accent: #dc8127;
}
body {
    background-color: var(--background);
    margin: 0px;
}

.aunderline {
  display: inline-block;
  position: relative;
}

.aunderline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  transition: transform 0.25s ease-out;
}

.aunderline:hover::after {
  transform: scaleX(1);
}

.aunderline.left::after {
  transform-origin: bottom right;
}

.aunderline.left:hover::after {
  transform-origin: bottom left;
}

.aunderline.center::after {
  transform-origin: bottom center;
}

.aunderline.center:hover::after {
  transform-origin: bottom center;
}

.aunderline.right::after {
  transform-origin: bottom left;
}

.aunderline.right:hover::after {
  transform-origin: bottom right;
}

acc, .acc {
    color: var(--accent);
}

underline, .underline {
    display: inline-block;
    position: relative;
}

underline::after, .underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--accent);
    transition: transform 0.25s ease-out;
  }

.home-text {
    cursor: pointer;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.divider {
    height: 2px;
    width: auto;
    background: linear-gradient(to right, var(--secondary), var(--accent), var(--secondary));
    border-radius: 25px;
}

.navitem {
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding: 10px; */
}

#page-thinner {
    margin-left: 20%;
    margin-right: 20%;
}

@media screen and (max-width: 1200px) {
    #page-thinner {
        margin-left: 0px;
        margin-right: 0px;
    }
}


.header-container {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    border-bottom: solid 2px var(--secondary);
}

.sidebar-divider {
    display: flex;
}

.page-container {
    width: auto;
    padding: 20px;
    flex-grow: 10;
}

.sidebar {
    float: right;
    min-width: 210px;
    width: auto;
    border-left: solid 2px var(--secondary);
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    /* border-bottom: solid 2px var(--secondary); */
}

.navigation > a {
    margin-left: 10px;
    margin-right: 10px;
}

.navigation > a > h1{
    width: auto;
    transition: color .25s ease-out;
}
.navigation > a:hover > h1 {
    color: var(--accent);
}
.text-transition {
    transition: color .25s ease-out;
}
.text-transition:hover {
    color: var(--accent)
}

.flipper-icon {
    display: flex;
    align-items: center;
    
    transition: all .25s ease-out;
}

.flipper-icon > img {
    scale: 2;
    transition: all .25s ease-out;
}
.flipper-icon:hover > img{
    scale: 3;
}

.flipper-icon:hover {
    cursor: pointer;
}

.flipper-container {
    margin: 10px;
    margin-top: 20px;
    display: flex;
}

.flipper-container > * {
    margin: 10px;
}

.flipper-center {
    border-radius: 10px;
    padding: 10px;
    flex-grow: 4;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcVj0uEYwizV-0pTkIt5_CILo6N07ycfbnPQ&s);
    background-color: var(--secondary);
    transition: transform .25s ease;
}

/* left thing hovered */
.flipper-icon:hover ~ .flipper-center {
    transform: translateX(10px);
}

/* right thing hovered */
.flipper-center:has(~ .flipper-icon:hover) {
    transform: translateX(-10px);
}

.flipper-content {
    font-size: large;
}

.flipper-center > * {
    color: var(--background);
    margin: 0px;
}

* {
    color: var(--text);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

.bokor {
    font-family: "Bokor", serif;
    font-weight: 400;
    font-style: normal;
  }
  