@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Nunito:ital@0;1&display=swap');


:root {
    --text: #fadbee;
    --background: #13030e;
    --primary: #eb7acc;
    --secondary: #6c345a;
    --accent: #37e2c1;
}
body {
    background-color: var(--background);
    margin: 0px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

.hover-underline-animation.center::after {
  transform-origin: bottom center;
}

.hover-underline-animation.center:hover::after {
  transform-origin: bottom center;
}

.hover-underline-animation.right::after {
  transform-origin: bottom left;
}

.hover-underline-animation.right:hover::after {
  transform-origin: bottom right;
}

.home-text {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flipper-icon {
    display: flex;
    align-items: center;
}

.navigation-container {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    border-bottom: solid 2px var(--secondary);
}

.navbar {
    display: flex;
    /* gap: 20px; */
    /* margin-top: 20px; */
}

.navbar > a {
    font-size: 2rem;
    vertical-align: bottom;
    margin-left: 40px;
    margin-right: 40px;
    transition: color .25s ease-out;
}
.navbar > a:hover {
    color: var(--accent);
    font-size: 2rem;
}
.text-transition {
    transition: color .25s ease-out;
}
.text-transition:hover {
    color: var(--accent)
}

.flipper-container {
    margin: 10px;
    margin-top: 100px;
    display: flex;
}

.flipper-container > * {
    margin: 10px;
}

.flipper-center {
    border-radius: 10px;
    padding: 10px;
    flex-grow: 4;
    height: 200px;
    background-color: var(--accent);
}

.flipper-center > * {
    color: var(--background);
}

* {
    color: var(--text);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

.bokor {
    font-family: "Bokor", serif;
    font-weight: 400;
    font-style: normal;
  }
  