---
import "../styles/global.css";
import HeadContent from '../components/HeadContent.astro';
import SideBar from "../components/SideBar.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
    <HeadContent title="404 Error!"/>
    <body>
        <div id="page-thinner">
            <Header page="about"/>
            <div class="sidebar-divider">
            <div class="page-container">
                    <div class="header">
                        <h1>Hey! this is awkward...</h1>
                        <p>You were never supposed to see this</p>
                    </div>
            </div>

            <SideBar current={2}/>
        </div>

        <script>
            setTimeout(() => { window.location.href = "/"; }, 2000)
        </script>
    </body>
</html>