---
import "../styles/global.css";
import SideBar from "../components/SideBar.astro";
import HeadContent from '../components/HeadContent.astro';
import Header from "../components/Header.astro";
---

<html lang="en">
    <HeadContent title="About Michał"/>
    <body>
        <div id="page-thinner">
            <Header page="about"/>
            <div class="sidebar-divider">
            <div class="page-container">
                
            </div>

            <SideBar current={2}/>
        </div>

   
    </body>
</html>


