---
import "../styles/global.css";
import SideBar from "../components/SideBar.astro";
import HeadContent from '../components/HeadContent.astro';
import Header from "../components/Header.astro";
---

<html lang="en">
    <HeadContent title="About Michał"/>
    <body>
        <div id="page-thinner">
            <Header page="about"/>
            <div class="sidebar-divider">
            <div class="page-container">
                <div class="quote">
                    <h1>I'm a <acc>creator</acc>, usually a <acc>game designer</acc>.</h1>
                    <h2>I craft <acc>experiences</acc>, from the roots up.</h2>
                    <h2>When i'm not creating, I'm probably <acc>delving into music.</acc></h2>
                    <h2>Want to work together? Contact me <a class="acc link" href="/contact">here</a>!</h2>
                </div>
            </div>

            <SideBar current={2}/>
        </div>

   
    </body>
</html>


