---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
import HeadContent from '../components/HeadContent.astro';


---

<html lang="en">
    <HeadContent title="About Michał"/>
    <body>
        <Navigation />
        <div class="content-container">
            <div class="container np_data">
                <h1>Hi i'm Michał,</h1>
                <p>
                    I'm a high school student from Poland, majoring in Physics,
                    Maths & Biology (for now).<br />
                </p>
                <p>
                    I am interested in music - I play & learn the guitar,
                    put up <b>some synth and guitar music on my soundcloud</b>!
                </p>
            </div>
            <div class="container np_data">
                <h1>Contact me here!</h1>
                <div class="socials">
                <a class="social" href="https://discordapp.com/users/430466586558726181">
                    <img src="/icons/discord.svg" width="64" height="64"/><h2>
                        moltenfrozen
                    </h2></a>
                <a class="social" href="mailto:molters.tv@gmail.com">
                    <span class="material-symbols-outlined">mail</span>
                    <h2>molters.tv@gmail.com</h2>
                </a>
            </div>
            <div class="container np_data">
                <h1>Find me here!</h1>
                <div class="socials">
                    <a class="social" href="https://github.com/MoltenCoreDev"><img
                            src="/icons/github.svg"
                            width="64"
                            height="64"
                        /><h2>MoltenCoreDev</h2></a
                    >
                    <a class="social" href="https://soundcloud.com/moltenisfrozen">
                        <img src="/icons/soundcloud.jpg" width="64" height="64"/><h2>
                            moltenisfrozen
                        </h2></a
                    >

                    <a class="social" href="https://frozencore.itch.io/">
                        <img src="/icons/itchio.svg" width="64" height="64"/><h2>
                            frozencore
                        </h2></a
                    >
                </div>
            </div>
        </div>
    </body>
</html>


