---
import '../styles/global.css'
import HeadContent from '../components/HeadContent.astro';
import Navigation from '../components/Navigation.astro'
import PostBox from '../components/PostBox.astro';
import LastFM from '../components/LastFM.astro';
const posts = await Astro.glob("./posts/*.md")
---

<html lang="en">
	<HeadContent title="Michał's Blog"/>
	<body>
		<Navigation></Navigation>
		<div class="content-container">
			<div class="header">
				<h1>Hi, i'm <i><acc>Michał</acc></i></h1>
				<p>And you are right here on my site!<br>
					I am a high school student in Poland, majoring in Maths & Physics.
				</p>
			</div> 
			<div class="container">
				{posts.map((post) => (
					<PostBox title={post.frontmatter.title}
					imageUrl={post.frontmatter.image.url}
					path={post.url}
					description={post.frontmatter.description} />
				))}
			</div>
			<LastFM />
			
		</div>
		
	</body>
</html>