---
import "../styles/global.css";
import HeadContent from "../components/HeadContent.astro";
import Flipper from "../components/Flipper.astro";
import SideBar from "../components/SideBar.astro"
import Header from "../components/Header.astro";
//const posts = await Astro.glob("./posts/*.md*")
---

<html lang="en">
	<HeadContent title="mihao.pl" />
	<body>
		<div id="page-thinner">
		<Header page=""/>
		<div class="sidebar-divider">
		<div class="page-container">
			<h1>Hi! I'm Mihao</h1>
			<h2>I make <acc>games</acc>! I make <acc>music</acc> for them! I make the 3d models!<br/>
			Well... That's a bit of stuff. But the best part is <acc>creating</acc> in general!<br/>
			I love taking the lead role on a project and I always try to make the most of the resources I have!</h2>
			<div class="divider"/>
			<h1>Some of my work:</h1>
			<Flipper header="ElementalRift" content="Game"/>
		</div>
		<SideBar current={0}/>
	</div>
</div>
	</body>
</html>
