---
import "../styles/global.css";
import PostBox from "../components/PostBox.astro"
import SideBar from "../components/SideBar.astro";
import Header from "../components/Header.astro";
import HeadContent from '../components/HeadContent.astro';
---

<html lang="en">
    <HeadContent title="Portfolio"/>
    <body>
        <div id="page-thinner">
            <Header page="work"/>
            <div class="sidebar-divider">
            <div class="page-container">
                <h1>Hi! I'm Mihao</h1>
                <h2>I make <acc>games</acc>! I make <acc>music</acc> for them! I make the 3d models!<br/>
                Well... That's a bit of stuff. But the best part is <acc>creating</acc> in general!<br/>
                I love taking the lead role on a project and I always try to make the most of the resources I have!</h2>
                <div class="divider"/>
                <h1>Some of my work:</h1>
            </div>
            <SideBar current={1}/>
        </div>
        <!-- <div class="content-container">
            <div class="container np_data">
                <h1>Games</h1>
                <div class="container">
                    <PostBox title="ElementalRift" description="FPS shooter inspired by ULTRAKILL. WIP"/>
                    <PostBox title="Neo-Night" description="A cyberpunk platformer. Coming soon, we just need to publish it!"/>
                    <PostBox title="extrinsic" description="Simple infinite arena shooter." href="https://frozencore.itch.io/extrinsic"/>
                     
                </div>
            </div>
            <div class="container np_data">
                <h1>Music</h1>
                <div class="container">
                    <PostBox title="Get In" description="As described by my friends, your GTA heist has been succesful music." href="https://soundcloud.com/moltenisfrozen/get-in"/>                     
                </div>

            </div>
            <!-- <div class="container">
                Other
            </div> -->
        </div>
    </body>
</html>