---
const { title } = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <meta content="Michał's Website" property="og:title" />
    <meta content="MoltenIsFrozen's personal site with a blog and a portfolio soon™" property="og:description" />
    <meta content="https://moltencoredev.github.io" property="og:url" />
    <meta content="https://moltencoredev.github.io/88x31/me.png" property="og:image" />
    <meta content="#48be46" data-react-helmet="true" name="theme-color" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content= {Astro.generator} >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>{title}</title>
</head>