---
const { title } = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <meta content="Michał's Website" property="og:title" />
    <meta content="MoltenIsFrozen's personal site with a blog and a portfolio soon™" property="og:description" />
    <meta content="https://moltencoredev.github.io" property="og:url" />
    <meta content="https://moltencoredev.github.io/88x31/me.png" property="og:image" />
    <meta content="#6c345a" data-react-helmet="true" name="theme-color" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content= {Astro.generator} >
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>{title}</title>
</head>