---
---
<div class="slim">
    <div class="header navbar centerv">
        <a href="/" class="navitem-clear"><img src="/icons/home.svg" height="32"/></a>
        <a href="/about" class="navitem-bg">About me</a>
        <a href="/friends" class="navitem-bg">Friends</a>
        <a href="/portfolio" class="navitem-bg">Portfolio</a>
    </div>
</div>

