---
---
<div class="slim">
    <div class="header navbar centerv">
        <a href="/" class="navitem-clear"><img src="/home.svg" height="32"/></a>
        <a href="/about" class="navitem-bg">About me</a>
    </div>
</div>

