---
const { title, imageUrl, href, description } = Astro.props
---
<a href={href} class:list={["box", "post-box"]} style={imageUrl ? 'background-image: url("' + imageUrl + '");  background-size: 100%;' : ""}>
    <h2>{title}</h1>
    <p>{description}</p>
</a>