---
const { title, imageUrl, path, description } = Astro.props
---
<!-- style={`background-image: url("${imageUrl}");  background-size: 100%;`} -->
<a href={path} class="box post-box">
    <h2>{title}</h1>
    <p>{description}</p>
</a>